@charset "utf-8";
/* CSS Document */
 
/********reset********/
html,body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, from, input, img, select, button, textarea, iframe, frameset,table, th, tr, td, fieldset{ margin:0; padding:0;}

/********body********/
*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
body{font-size:14px; font-family:'微软雅黑'; color:#2b2b2b;}
div{vertical-align:top;}
i,em,cite{font-style:normal; color:#2b2b2b}
h1,h2,h3,h4,h5,h6{ font-weight:normal; }
a{text-decoration:none; color:#0078FF;}
a:hover{color:#FF022E;}
ul,li{list-style:none; display:block;}
img{border:0 none; max-width:100%}
img{vertical-align:middle;}
input{ -webkit-appearance: none; border: 0 ;background: #f5f6fa;}
input:focus{outline:0}
.clear{clear: both}
.btn{display: inline-block;text-align: center;background:#0078FF;color: #fff;}
.btn:hover{background: #FF022E;color: #fff;}

.safebox{display: none;width: 320px;padding: 32px; margin: 0 auto;background: #fff;margin-top: 100px}
.safebox.show{display: block;}

.safebox .logo{width: 120px;height: 120px;margin: 0 auto; text-align: center}
.safebox .title{text-align: center;font-size: 18px;font-weight: bold}
.safebox .from{width: 275px;margin: 0 auto; }
.safebox .from li{margin-top: 24px;margin-left: 15px}
.safebox .from li .icon{display: inline-block;width: 22px;height: 22px;margin-right: 5px}
.safebox .from li input{display: inline-block;height: 22px;font-size: 16px; color: #999;width: 180px;}
.safebox .from li .checkcode{width:96px }
.safebox .from li .checkcodebtn.disable{color: #999;}
.safebox .from li a{display: inline-block;float: right;}
.safebox .btn{display:block;width: 256px;margin: 0 auto;margin-top: 24px;border-radius: 20px;font-size: 18px; height: 40px;line-height: 40px;padding: 0 20px;  }
.safebox .other{margin-top: 24px;}
.safebox .other li{display: inline-block;width: 49%}
.safebox .other li:nth-child(2){text-align: right}
.safebox .info{text-align: center;margin-top: 24px;}
.safebox .info span{color:#FF022E;}
.safebox .from .CodeImg{width: 95px;margin-left: 5px;}
.safebox .from li button{display: inline-block;float: right;text-decoration: none;color: #0078FF;margin-right: 55px}
.safebox .jcb-gw {text-align: center;margin-top: 10px;}

.product{ margin: 0 auto;max-width: 750px}
.product ul{width: 92%;margin: 0 auto;padding: 12px 0;  margin-top: -3rem;}
.product ul li{margin-top: 10px; box-shadow: 7px 12.124px 24px 0px rgba(27, 98, 121, 0.1), 0px 14px 24px 0px rgba(27, 98, 121, 0.1);border-radius: 10px; background: #fff;padding: .53rem;} 
.product ul li .main{height: 45px;line-height: 45px;padding: 2px 25px;}
.product ul li .main .days{display: inline-block; font-size: 20px;line-height: 32px;color:#000}
.product ul .hot{background: url(../image/hot.png);background-repeat: no-repeat}
.product ul li .main .price{display: inline-block;width: 30%;font-size: 18px;color:#0078FF;line-height: 32px;font-weight: bold;text-align: center;float: right;}
.product ul .hot .main .price{color: #ff8400;}
.product ul li .main .buy{display: inline-block;width: 35%;line-height: 32px;text-align: right}
.product ul li .main .btn{display: inline-block; height: 32px;line-height: 32px;border-radius: 16px;padding: 0 16px;}
.product ul li.hot .main .btn{background: #FF4201}
.product ul li.hot .main .btn:hover{background:#FF022E;}
.product ul li .main .btn i{display: inline-block;height: 20px;width: 20px;margin-right:8px;}
.product ul li .main .btn span{display: inline-block;color: #fff;font-size: 14px;line-height: 20px}
.product ul li .info{height: 28px;line-height: 0px;font-size: 12px;padding: 0 25px; color: #777;}
.product ul li .info .oldprice{}
.product ul li .info .save{color:#0078FF;}
.product ul li.hot .info .save{color:#FF4201;}
.product ul li .info .average{float: right;color:#777;padding-right: 16px}
.product ul li.hot .info .average{float: right;color:#FF4201;}
@media all and (max-width: 999px){.product{width: 100%; margin: 0 auto;max-width: 750px}}


.buylist{display: none;width: 100%;height: 100%; top: 0; position: absolute;background: rgba(0,0,0,.5)}
.buylist.show{display: block;}
.buylist .buybox{width: 300px; margin: 0 auto;margin-top: 100px;background: #fff;padding: 20px;position: relative}
.buylist .buybox .head{ text-align:center;font-size: 18px; }
.buylist .buybox .close{ position: absolute;right: 0; top:0; color: #ccc;display: inline-block;padding: 10px}
.buylist .buybox ul{margin-top: 20px;}
.buylist .buybox ul li{width: 48%;display: inline-block;}
.buylist .buybox ul li a{display: block;padding: 6px  12px;border-radius: 6px}
.buylist .buybox ul li a:hover{background: #ccc;}
.buylist .buybox ul li a i{width: 36px;height: 36px;display: inline-block;margin-right: 10px;}
.buylist .buybox ul li a span{color:#2b2b2b}

.order{width: 320px; margin: 0 auto;margin-top: 100px;background: #eee}
.order ul{width: 92%;margin: 0 auto;padding: 16px 0}
.order ul li{height: 80px; padding: 12px; margin-top: 16px; box-shadow: 0px 1px 2px 0px #999;background: #fff;border-radius: 2px} 
.order ul li .info{display: inline-block;width: 70%;float: left;line-height: 28px;}
.order ul li .info .name{font-size: 16px; color: #2b2b2b;font-weight: bold}
.order ul li .info .time{font-size: 12px;color: #999}
.order ul li .price{display: inline-block;width: 30%;float: right;text-align:right;font-size: 24px;line-height: 56px;color: #999}

.help{width: 320px; margin: 0 auto;margin-top: 100px;background: #eee}
.help ul{width: 92%;margin: 0 auto;}
.help ul li{ padding: 12px; margin-top: 16px; box-shadow: 0px 0px 0px 0px #999;background: #fff;border-radius: 2px} 
.help ul li .title{height: 20px;line-height: 20px;display: block;}
.help ul li .title span{color: #2b2b2b}
.help ul li .title .icon{width: 0;height: 0; border: 6px solid transparent;border-top-color: #0078FF ;float: right;margin-top: 6px;}
.help ul li.show .title .icon{width: 0;height: 0; border: 6px solid transparent;border-bottom-color: #0078FF ;float: right;margin-top: 0px;}
.help ul li .info{display: none;font-size: 14px;line-height:24px}
.help ul li.show .info{display: block;padding: 12px 0}

#con{margin-top: 7px;background: #fff;}
#con ul{margin-top: 0;padding-top: 0;}
#con ul li{margin-top: 0;}
#con .card{display: inline-block;}
#con .tocard {display: inline-block; height: 32px;line-height: 32px;padding: 0 16px;text-align: center;background:#0078FF;color: #fff;margin-left: -4px;}
#con .tocard:hover{background:#FF022E;}
#con .tocard i {display: inline-block;height: 20px;width: 20px;margin-right:8px;}
#con .tocard i img{width: 20px;height: 20px;}
#con .tocard span {display: inline-block;color: rgb(255, 255, 255);font-size: 14px;line-height: 20px}
.lxqq{text-align: center;color: #0078FF}

#pay{width: 990px;margin: 0 auto;}
.pay{width: 400px; margin: 0 auto;background: rgb(53, 165, 91);padding-bottom: 70px;float: left;}
.pay p{text-align: center;font-size: 28px;padding-top: 30px;color: #fff;}
.pay .qrbox{width: 180px;height: 180px;margin: auto;background: #fff;overflow: hidden;margin-top: 30px;}
.paybox{background-color: #fff;padding: 50px 65px;box-shadow: 0 6px 32px rgba(0,0,0,.13);overflow: hidden;margin-top: 100px;}
#qrcode{margin: auto;}
.sys {width: 379px;height: 421px;background: url(../image/pc_icon_phone-bg.png);background-position: center center;background-repeat: no-repeat;margin-top: 150px;float: left;}

.wechatr{width: 250px; margin: 0 auto;margin-top: 100px;background: rgb(255, 255, 255);}
.wechatr p{display: block;width: 100%;text-align: center;}
.wechatr p:nth-child(1){height: 60px;line-height: 60px;border-bottom: 1px solid #999;}
.wechatr p:nth-child(2){height: 40px;line-height: 40px;border-bottom: 1px solid #999;color: red;}
.wechatr p:nth-child(3){height: 35px;line-height: 35px;color: #999;}

.coupon{background-repeat: no-repeat}
.couponTab{display: flex;background: url(../image/coupon-blue.png) no-repeat center / cover;padding: 0 0 3.5rem;display: flex;}
.couponTab .tabA{width: 50%;text-align: center;font-size: 1.2rem;color: #fff;padding-top: 1.3rem;padding-bottom: 1.1rem;border-bottom: 1px solid #96b7fc;opacity: .8;}
.couponTab .tabB{width: 50%;text-align: center;font-size: 1.2rem;color: #fff;padding-top: 1.3rem;padding-bottom: 1.1rem;border-bottom: 1px solid #96b7fc;opacity: .8;}

.coupon .couponTab .tabActive{border-bottom: 3px solid;margin-bottom: -1px;opacity: 1;cursor: pointer;}
.product .help ul li{box-shadow:0px}
#cardSerial{vertical-align: top}
.coupon a{color: #ff8400}

.slowGoods{display: block;}
.highGoods{display: none;}
.coupon .showGoods{display: block}

.package-exchange {
    padding: .8rem 1.86rem;
    font-size: .9rem;
}
.package-exchange-input {
    display: flex;
    border: 1px solid #b7bff7;
    margin-top: .66rem;
}
.package-exchange-input input {
    border: none;
    width: 100%;
    font-size: .42rem;
    padding: .6rem;
}
.package-exchange-input button {
    flex-shrink: 0;
    font-size: .9rem;
    border: none;
    background-color: #0a80ff;
    color: #fff;
    padding: 0 1.2rem;
}